
<ion-header>

        <ion-navbar>
            <img src="./assets/imgs/logo-zs.png" alt="" class="navbar-img">        
    
            <ion-title>Buscar productos</ion-title>
    
            <ion-buttons end>
                <button ion-button icon-only (click)="masOpciones()" *ngIf=" this.filtroFamilias " >
                    <ion-icon name="flash" color="danger"></ion-icon>
                </button>
                <button ion-button icon-only (click)="masOpciones()" *ngIf=" !this.filtroFamilias " >
                    <ion-icon name="flash" color="primary"></ion-icon>
                </button>
                <button ion-button icon-only (click)="ConfiguracionLocal()">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
    
        </ion-navbar>
      
</ion-header>

<ion-content padding>
  
    <ion-list>

        <ion-item *ngIf=" cliente.codigo != '' ">

            <table>
                <tr>
                    <td text-right><p>Código Cliente :</p></td>
                    <td><p><b>{{ cliente.codigo }}</b></p></td>
                </tr>
                <tr *ngIf=" cliente.sucursal.trim() != '' ">
                    <td text-right><p>Sucursal :</p></td>
                    <td><p><b>{{ cliente.sucursal }}</b></p></td>
                </tr>                
                <tr>
                    <td text-right><p>Razon Social :</p></td>
                    <td><p><b>{{ cliente.razonsocial }}</b></p></td>
                </tr>

            </table>

            <button ion-button clear item-end icon-only (click)="limpiarCliente()">
                <ion-icon name="close" color="primary"></ion-icon>
            </button>
  
        </ion-item>

        <ion-item-group>
            <ion-item>
                <ion-label >Código</ion-label>
                <ion-input type="text" name="codproducto" [(ngModel)]="codproducto" ></ion-input>
                <button ion-button clear item-end icon-only (click)="limpiarTextos(1)" *ngIf=" codproducto != '' ">
                    <ion-icon name="close" ></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-label >Descripción...</ion-label>
                <ion-input type="text" name="descripcion" [(ngModel)]="descripcion" required></ion-input>
                <button ion-button clear item-end icon-only (click)="limpiarTextos(2)" *ngIf=" descripcion != '' ">
                    <ion-icon name="close" ></ion-icon>
                </button>
            </ion-item>

            <ion-item *ngIf=" filtroFamilias " >
                <ion-label >Familias...</ion-label>
                <ion-select [(ngModel)]="codFamilias" multiple="true" cancelText="Cancelar" okText="Ok!">
                    <ion-option *ngFor="let fam of listaFamilias" value="{{ fam.cod }}">{{ fam.descrip }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>

        <ion-grid>
            <ion-row>
                <ion-col col-5>
                    <button ion-button block small icon-end color="dark" (click)="scanBarcode()">Escanear</button>
                </ion-col>
                <ion-col col-7>
                    <!--button ion-button block small icon-end color="primary" (click)="aBuscarProductos(codproducto,descripcion,'','',codFamilias)">Buscar</button-->
                    <button ion-button block small icon-end color="primary" (click)="aBuscarProductos(codproducto,descripcion,codFamilias,1)">Buscar</button>
                </ion-col>
                <ion-col col-3>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-card *ngFor="let producto of listaProductos"  (tap)="PresionaryCopiar($event,producto)">

            <div *ngIf=" config.imagenes && config.adq_imagenes" >
                <img src="http://www.zsmotor.cl/img/Producto/{{ producto.codigo }}/{{ producto.codigo }}.jpg"
                     onerror=" this.src='assets/imgs/no-img.png' "/>
            </div>

            <ion-card-content>

                <ion-grid class="grid-productos">

                    <ion-row>
                        <ion-col text-right col-4>
                            <p>Código :</p>
                        </ion-col>
                        <ion-col text-left>
                            <p><b>{{ producto.codigo }}</b></p>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col text-right col-4>
                            <p>Descripción :</p>
                        </ion-col>
                        <ion-col text-left>
                            <p><b>{{ producto.descripcion }}</b></p>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf=" producto.stock_ud1 > 0 ">
                        <ion-col text-right col-4>
                            <p>Bod. ({{ producto.bodega }}) :</p> 
                        </ion-col>
                        <ion-col col-4>
                            <ion-badge color="indigo" item-end (click)="cargaBodegas(producto)">Stock : {{ producto.stock_ud1 }}</ion-badge>
                        </ion-col>
                        <ion-col text-right col-4>
                            <p><b>(Tot.: {{ producto.stock_total_ud1 | number:0 }})</b></p>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf=" producto.stock_ud1 <= 0 && producto.sucursal != undefined ">
                        <ion-col text-right col-4>
                            <p>Bod. ({{ producto.bodega }}) :</p> 
                        </ion-col>
                        <ion-col col-4>
                            <ion-badge color="danger" item-end (click)="cargaBodegas(producto)">Sin stock</ion-badge>
                        </ion-col>
                        <ion-col text-right col-4>
                            <p><b>(Tot.: {{ producto.stock_total_ud1 | number:0 }})</b></p>
                        </ion-col>
                    </ion-row>
        
                    <ion-row *ngIf=" producto.sucursal == undefined ">
                        <ion-col text-right col-4>
                            <p>Bod. (n/e) :</p> 
                        </ion-col>
                        <ion-col col-4>
                            <ion-badge color="danger" item-end (click)="cargaBodegas(producto)">No/Asig</ion-badge>
                        </ion-col>
                        <ion-col text-right col-4>
                            <p><b>(Tot.: {{ producto.stock_total_ud1 | number:0 }})</b></p>
                        </ion-col>
                    </ion-row>
                
                    <ion-row *ngIf=" producto.descuentomax <= 0 || config.ocultardscto ">
                        <ion-col text-right col-4>
                            <p>Precio {{ producto.tipolista }}: </p>
                        </ion-col>
                        <ion-col text-left col-5>
                            <ion-badge color="danger" item-end (click)="cargaListas(producto)">${{ producto.precio | number:0 }}</ion-badge>
                        </ion-col>
                        <ion-col text-center col-3>
                            <p>(<b>{{ producto.metodolista }}/{{ producto.listaprecio }}</b>)</p>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf=" ( producto.descuentomax > 0 && !config.ocultardscto ) ">
                        <ion-col text-right col-4>
                            <p><s>{{ producto.tipolista }}: </s></p>
                        </ion-col>
                        <ion-col text-left>
                            <p><s><b>${{ producto.precio | number:0 }}</b></s></p>
                        </ion-col>
                        <ion-col text-center col-3>
                            <p>(<b>{{ producto.metodolista }}/{{ producto.listaprecio }}</b>)</p>
                        </ion-col>
                    </ion-row>    

                    <ion-row *ngIf=" producto.descuentomax > 0 && !config.ocultardscto ">
                        <ion-col text-right col-4>
                            <p>Descuento : </p>
                        </ion-col>
                        <ion-col text-left col-5>
                            <p><b>${{ producto.dsctovalor | number:0 }}</b></p>
                        </ion-col>
                        <ion-col *ngIf=" usuario.puedemodifdscto ">
                            <ion-badge color="danger" item-end  (click)="cambiaDescuento(producto)">{{ producto.descuentomax }}%</ion-badge>                           
                        </ion-col>
                        <ion-col *ngIf=" !usuario.puedemodifdscto ">
                            <ion-badge color="danger" item-end                                     >{{ producto.descuentomax }}%</ion-badge>                           
                        </ion-col>
                    </ion-row>    

                    <ion-row *ngIf=" producto.descuentomax > 0 && !config.ocultardscto ">
                        <ion-col text-right col-4>
                            <p>Precio {{ producto.tipolista }}: </p>
                        </ion-col>
                        <ion-col text-left col-5>
                            <ion-badge color="danger" item-end (click)="cargaListas(producto)">${{ producto.preciomayor | number:0 }}</ion-badge>
                        </ion-col>
                    </ion-row>    

                    <ion-row *ngIf=" producto.sucursal != undefined && cliente.codigo.trim() != '' && producto.stock_ud1 > 0 && producto.preciomayor > 0 ">
                        <ion-col>
                            <button (click)="agregarAlCarro(producto,cliente)" ion-button icon-left small full>
                                <ion-icon name="cart"></ion-icon>
                                Agregar al carro
                            </button>
                        </ion-col>
                    </ion-row>
                                
                </ion-grid>

                <button *ngIf=" producto.importado > 0 || config.soloverimport " ion-button icon-left icon-only clear small color="indigo" (click)="cargaDatoImportado(producto.codigo)" >
                    <ion-icon name="boat"></ion-icon>
                    On Board: {{ producto.importado }}
                </button>

            </ion-card-content>

        </ion-card>        

        <ion-infinite-scroll (ionInfinite)="masDatos($event)" *ngIf=" lScrollInfinito == true "  >
            <ion-infinite-scroll-content loadingText="Buscando más datos..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-list>
  
    <ion-fab bottom left *ngIf=" largoListaProductos() > 1 ">
    <!--ion-fab bottom left-->
        <button ion-fab mini (click)="scrollToTop()" color="danger" #fabautohide>
            <ion-icon name="arrow-up"></ion-icon>
        </button>    
    </ion-fab>

</ion-content>
  