page-tabsalir {
    .img-salida {
        margin-top: 50px;
    }
    .texto-salida {
        font-size: 25px;
        margin-top: 20px;
    }
    .logo-salir {
        margin-top:45px;
    }
    .logo-kinetik {
        margin-left:40px;
        object-fit: cover;
        margin-top:45px;
    }
}
